.ipynb_checkpoints/
example/results/*
*.swp
*Untitled*
handy_functions/__pycache__/decoders.cpython-39.pyc
handy_functions/__pycache__/metrics.cpython-39.pyc
*.pyc
runs/outfiles
datasets/*.mat
datasets/dsplt-*
runs/
.DS_Store
