.ipynb_checkpoints/
old_scripts/
starter_notebooks/example/results/*
*.swp
*Untitled*
handy_functions/__pycache__/decoders.cpython-39.pyc
handy_functions/__pycache__/metrics.cpython-39.pyc
*.pyc
runs/outfiles
datasets/
analyses/out.csv
runs/
.DS_Store
figures/
