*.mat filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa35dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa21dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa24dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa25dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa29dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa33dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa38dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa18dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa23dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa27dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa32dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa34dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa16dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa20dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa22dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa28dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/units/units-pa19dir4A-pre500-post300.csv filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa22dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa23dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa32dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa19dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa27dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa35dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa38dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa16dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa24dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa29dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa33dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa34dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa20dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa21dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa25dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa28dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
datasets/vars/vars-pa18dir4A-pre500-post300-dt50.pickle filter=lfs diff=lfs merge=lfs -text
